@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffbfb;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-josefin-sans), sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

/* Optional: Ensure scrolling still works */
html,
body {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
